/build/classes
/build/dependency-cache
/build/libs
/build/test-results
/build/tmp
/logs
/bin
.gitignore~
/build
/.settings
README.md~
.idea/workspace.xml
.idea/tasks.xml
/error-screenshots
*.properties~



.idea/libraries/

/src/test
/src/resources/test
sh.exe.stackdump
/target/
